<html lang="en">
{% extends 'pq/base.html' %}
{% load static %}
{% block content %}
<head>
    <!-- imput form css -->
    <link rel="stylesheet" type="text/css" href="{% static 'set/css/style.css' %}">
    
</head>
<body>
     <br><br><br><br><br><br><br>

<center>
     <form action="" method="post">{% csrf_token %}
          <p>Are you sure you want to delete "{{ object }}"?</p>
          <br><br>
          <input type="submit" value="Confirm" />
      </form>     
</center>

</body>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4036164292579668"
     crossorigin="anonymous"></script>
<!-- pq-setting-customer -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4036164292579668"
     data-ad-slot="9361929591"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock %}
