<!DOCTYPE html>
<html lang="en">
{% extends 'pq/base.html' %}
{% load static %}
{% block content %}
<head>
    <!-- imput form css -->
    <link rel="stylesheet" type="text/css" href="{% static 'set/css/style.css' %}">
    
</head>
<body>

    <center>    
        <h3>Surface level list</h3>
    </center>
    <div class="cust-list">
      <table id="cust-list-tb">
        <tr>
            <th>No</th>
            <th>SurfLevel</th>
  
            <th>ENotes</th>
            <th>VNotes</th>
            
            
            <th>Last Modifier</th>
            <th>Modify time</th>
            
            
        </tr>
        {% for item in SL_list %}
        <tr>
            <td >{{ forloop.counter }}</td>
            <td><a href="{% url 'surflevel-update' pk=item.SurfLevel %}">{{ item.SurfLevel }}</a></td>
            <!-- <td>{{ item.Fullname }}</td> -->
            
            <!-- <td><a href="{% url 'surflevel-update' pk=item.SurfLevel %}">Edit</a></td>
            <td><a href="{% url 'surflevel-delete' pk=item.SurfLevel %}">Delete</a></td> -->
            

            <td>{{ item.ENotes }}</td>
            <td>{{ item.VNotes }}</td>
            
            
            <td>{{ item.LastUser }}</td>
            <td>{{ item.LastimeUser }}</td>
        </tr>
        {% endfor %}
     </table>
    </div>
     
  <!-- <ul>
    {% for item in cust_list %}
      <li>{{ item.CustID }} {{ item.Fullname }}</li>
    {% endfor %}
  </ul> -->
</body>
Adv

    {% for group in user.groups.all %}
        {% if group.name == 'ADMIN' %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4036164292579668"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="autorelaxed"
            data-ad-client="ca-pub-4036164292579668"
            data-ad-slot="3634864736"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {% endif %}
    {% endfor %}
{% endblock %}